.container {
  width: 50%;
  height: 100%;
  margin: 0 auto;
}


@media (max-width: 1500px) {
    .container {
      width: 80%;
    }
  }
  


@media (max-width: 600px) {
  .container {
    width: 95%;
  }
}
