.searchCont {
  position: relative;
  height: 40px;
}

.searchCont input {
  width: 100%;
  border: none;
  font-size: 18px;
  border-radius: 40px;
  outline: none;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

.searchCont button {
  background-color: rgb(53, 53, 53);
  border: none;
  color: white;
  padding: 0 10px;
  font-size: 20px;
  border-radius: 40px;
  outline: none;
  /* transition: 0.3s; */
  position: absolute;
  right: -4px;
  top: 1px;
  /* width: 40px; */
  height: 40px;
}

.searchCont button:hover {
  background-color: rgb(27, 27, 27);
  padding: 0 5px;
}

.searchCont button:hover span {
  display: inline-block;
}

.searchCont button span {
 padding: 0 5px;
 display: none;
}

.searchCont button svg {
  font-size: 17px;
  /* width: 0px; */
}

@media (max-width: 768px) {
}
